{% extends 'app/main.html' %}
{% block content %}

<h1>Login</h1>

<form method="POST">
    {% csrf_token %}

    {{form.as_p}}
    <input class="button" type="submit" value="Login">
</form>


<p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>

{% endblock content %}