<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<style>
    body {
        background-color: #fafafa;
        font-family: 'Roboto Slab', serif;
    }

    .container {
        padding: 10px;
        max-width: 800px;
        margin: auto;
        box-shadow: 4px 4px 30px -1px rgba(34, 60, 80, 0.2);
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }

    .add-task-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-task {
        width: 50px;
        height: 50px;
        background-color: green;
        border-radius: 50%;
        text-decoration: none;
        color: white;
        font-size: 3.5rem;
        text-align: center;
        line-height: 45px;
    }

    .header > a {
        text-decoration: none;
        color: black;
    }

    .list-item-wrapper {
        padding: 20px;
    }

    .list-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border: 1px solid #ccc;
    }

    .list-item > .list-item-title, a {
        text-decoration: none;
        color: black;
    }

    .list-item > a {
        font-size: 1.5rem;
        text-decoration: none;
        color: red;
    }

    input[type=text], input[type=password], textarea {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 90%;
    }

    label {
        padding-top: 10px;
        display: block;
    }

    .button {
        margin-bottom: 15px;
        margin-left: 10px;
        background-color: rgb(205, 255, 157);
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 10px;
    }

</style>
<body>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</body>
</html>