{% extends 'app/main.html' %}
{% block content %}

<h1>Register</h1>

<form method="POST">
    {% csrf_token %}

    {{form.as_p}}
    <input class="button" type="submit" value="Register">
</form>


<p>Already have an account? <a href="{% url 'login' %}">Login</a></p>

{% endblock content %}