{% extends 'app/main.html' %}
{% block content %}

<div class="header">
    <div>
        <h1>{{request.user|title}}</h1>
    </div>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Log in</a>
    {% endif %}
</div>


<hr>

<div class="add-task-wrapper">
    <h1>Todo list</h1>
    <a class="add-task" href="{% url 'task-create' %}">+</a>
</div>


<div class="list-item-wrapper">
    {% for task in tasks %}

    <div class="list-item">
        {% if task.complete %}
            <div class="list-item-title">
                <i><s><a href="{% url 'task-update' task.id %}">{{task}}</a></s></i>
            </div>
            <a class="delete" href="{% url 'task-delete' task.id %}">&times;</a>
            {% else %}
            <div class="list-item-title">
                <a href="{% url 'task-update' task.id %}">{{task}}</a>
            </div>
            <a class="delete" href="{% url 'task-delete' task.id %}">&times;</a>
        {% endif %}
    </div>
    {% empty %}
    <h3>No tasks</h3>
    {% endfor %}
</div>


{% endblock content %}