{% extends 'app/main.html' %}
{% block content %}

<h3>Task form</h3>
<a href="{% url 'tasks' %}">Go back</a>

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_p}}
    <input class="button" type="submit" value="Submit">
</form>

{% endblock content %}