{% extends 'app/main.html' %}
{% block content %}

<a href="{% url 'tasks' %}">Go back</a>

<form method="POST">
    {% csrf_token %}
    <p>Are you sure you want to delete this task? "{{task}}"</p>
    <input type="submit" value="Delete">
</form>

{% endblock content %}